img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
}

.frame {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

.frame img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@media only screen and (max-width: 700px) {
    img {
        width: 95%;
    }
}
